{% extends 'backoffice.html.twig' %}
{% block title %}Historique mouvements - {{ num }}{% endblock %}
{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'items': ['Accueil','Comptes', 'Historique'] } %}
  {% include 'partials/_flash.html.twig' %}

  <div class="MfCard">
    <div class="MfDataTable">
      {% if data is iterable and data|length > 0 %}
        <table class="table">
          <thead><tr><th>Date</th><th>Description</th><th>Montant</th><th>Solde après</th></tr></thead>
          <tbody>
            {% for mv in data %}
              <tr>
                <td>{{ mv.date ?? '' }}</td>
                <td>{{ mv.description ?? '' }}</td>
                <td>{{ mv.amount ?? '' }}</td>
                <td>{{ mv.balance_after ?? '' }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'partials/_pagination.html.twig' with {'total': data|length} %}
      {% else %}
        <p>Aucun mouvement trouvé pour ce compte.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
