{% extends 'backoffice.html.twig' %}
{% block title %}Détails du compte {{ num }}{% endblock %}
{% block content %}
  {% include 'partials/_breadcrumb.html.twig' with {'items': ['Accueil','Comptes', 'Détails'] } %}
  {% include 'partials/_flash.html.twig' %}

  <div class="MfCard">
    <div class="MfTabs">
      <ul>
        <li class="active">Infos</li>
        <li>Mouvements</li>
        <li>Détails</li>
      </ul>
    </div>
    <div class="MfSummaryCard">
      <p>Numéro: {{ num }}</p>
      <p>Statut: <span class="MfStatusBadge" data-status="{{ info.status ?? '' }}">{{ info.status_label ?? (info.status ?? '') }}</span></p>
      <p>Solde: {{ info.solde ?? 0 }}</p>
    </div>
  </div>

  <div class="MfCard">
    <div class="MfDataTable">
      <h4>Mouvements récents</h4>
      {% if false %}
        <!-- Placeholder for movements list would be injected here -->
      {% else %}
        <p>Aucun mouvement chargé pour l’instant.</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
